<p>
  StudentsComponent work !
</p>

<!--<form (ngSubmit)="onSubmit()">-->
<form>
  <div class="form-group">
    <label for="name"> Name</label>
    <input type="text" class="form-control" id="name"   [(ngModel)]="formStudent.name" name="name" >
  </div>

  <div class="form-group">
    <label for="age">Age</label>
    <input type="number" class="form-control" id="age" [(ngModel)]="formStudent.age" name="age" >
  </div>

  <div class="btn-group">
    <button type="submit" class="btn btn-success" (click)="create()" >Create</button>
    <!-- <button type="submit" class="btn btn-success" (click)="update()">Update</button>
     <button class="btn btn-danger" (click)="delete()">Delete</button>-->
  </div>

</form>

<table >
  <tr >
    <th> <h4> id</h4></th>
    <th> <h4> name</h4></th>
    <th> <h4>  age</h4></th>
    <th> </th>
    <th> </th>
  </tr>
  <tbody *ngFor="let student of students">
    <tr> <!-- (click)="selectStudent(student)" -->
      <td><h4> {{student.id}}</h4></td>
      <td><h4> {{student.name}}</h4></td>
      <td><h4> {{student.age}}</h4></td>
      <td><button type="button" (click)="loadStudentToEdit(student)">Edit</button> </td>
      <td><button type="button" (click)="deleteStudentById(student)">Delete</button></td>
    </tr>
  </tbody>

</table>


